<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bk.bm.repository.MatchingTaskMapper">

    <select id="getFinishedDealOfMatching" resultType="hashmap">
        SELECT *
        FROM MATCHING
        WHERE status=1
    </select>

    <insert id="backupMatchingHistory">
        INSERT INTO HISTORY (seller_uid, buyer_uid, isbn10, isbn13, title, price, comment, matched_at)
        VALUES
        <foreach collection="histories" item="history" separator=",">
            (#{history.seller_uid, jdbcType=INTEGER}, #{history.buyer_uid, jdbcType=INTEGER},
            #{history.isbn10, jdbcType=VARCHAR}, #{history.isbn13, jdbcType=VARCHAR},
            #{history.title, jdbcType=VARCHAR}, #{history.price, jdbcType=INTEGER},
            #{history.comment, jdbcType=VARCHAR}, #{history.matched_at, jdbcType=DATETIME})
        </foreach>
    </insert>

    <insert id="backupMatchingHistoryImage">
        INSERT INTO HISTORY_IMAGE (image_url, sale_id)
        VALUES
        <foreach collection="images" item="image" separator=",">
            (#{image.image_url, jdbcType=VARCHAR}, #{image.sale_id, jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteMatching">
        DELETE FROM MATCHING WHERE matching_id IN
        <foreach collection="matchings" item="matching" open="(" separator="," close=")">
            #{matching.matching_id, jdbcType=INTEGER}
        </foreach>
    </delete>

    <select id="getNewMatchingBooks" resultType="hashmap">
        <![CDATA[
            SELECT s.sale_id, b.buy_id, s.sale_uid, b.buy_uid
            FROM SALE AS s JOIN BUY AS b
            ON (s.isbn10 = b.isbn10 OR s.isbn13 = b.isbn13) AND (s.price >= b.price_min AND s.price <= b.price_max)
            LEFT JOIN MATCHING AS m
            ON m.sale_id = s.sale_id AND m.buy_id = b.buy_id
            WHERE m.sale_id IS NULL OR m.buy_id IS NULL
        ]]>
    </select>

    <insert id="matchingBooks">
        INSERT INTO MATCHING (sale_id, buy_id)
        VALUES
        <foreach collection='matchingList' item='matching' separator=','>
            (#{matching.sale_id, jdbcType=INTEGER}, #{matching.buy_id, jdbcType=INTEGER})
        </foreach>
    </insert>

    <select id="getFcmTokenOfUsers" resultType="hashmap">
        SELECT uid, fcm_token
        FROM USER
        WHERE uid in
        <foreach collection='uids' item='uid' index='index' open='(' separator=',' close=')'>
            #{uid, jdbcType=INTEGER}
        </foreach>
    </select>

</mapper>