<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bk.bm.repository.SaleMapper">

    <select id="duplicateBook" resultType="int">
        SELECT COUNT(sale_id)
        FROM SALE
        WHERE sale_uid=#{uid} AND (isbn10=#{isbn10} OR isbn13=#{isbn13})
    </select>

    <insert id="insertSaleBook" parameterType="com.bk.bm.domain.Sale">
        INSERT INTO SALE(sale_uid, isbn10, isbn13, title, price, comment)
        VALUES(#{uid}, #{sale.isbn10}, #{sale.isbn13}, #{sale.title}, #{sale.price}, #{sale.comment})
        <selectKey resultType="int" keyProperty="sale_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSaleAreas">
        INSERT INTO SALE_AREA(sale_area_id, area, sale_id)
        VALUES
        <foreach collection='sale_areas' item='areas' separator=','>
            (#{uid, jdbcType=INTEGER}, #{areas.area, jdbcType=VARCHAR, #{sale_id})
        </foreach>
    </insert>

    <insert id="insertSaleImages">
        INSERT INTO SALE_IMAGE(sale_img_id, image_url, sale_id)
        VALUES
        <foreach collection='sale_images' item='images' separator=','>
            (#{uid, jdbcType=INTEGER}, #{images.image_url, jdbcType=VARCHAR, #{sale_id})
        </foreach>
    </insert>

    <select id="getAllSale" resultType="hashmap">
        SELECT * FROM SALE WHERE sale_uid=#{uid}
    </select>

    <select id="getFinishedDealOfSale" resultType="hashmap">
        SELECT DISTINCT s.sale_id, s.sale_uid, b.buy_uid, s.isbn10, s.isbn13, s.title, s.price, s.comment, m.matched_at
        FROM SALE s, BUY b, MATCHING m
        WHERE (s.sale_id, b.buy_id)
        IN (
        <foreach collection="matchings" item="matching" separator=",">
            (#{matching.sale_id, jdbcType=INTEGER}, #{matching.buy_id, jdbcType=INTEGER})
        </foreach>
        )
    </select>

    <select id="getFinishedDealOfSaleImages" resultType="hashmap">
        SELECT a.image_url, m.sale_id
        FROM SALE_AREA a, MATCHING m
        WHERE a.sale_id IN
        <foreach collection="matchings" item="matching" open="(" separator="," close=")">
            #{matching.sale_id, jdbcType=INTEGER}
        </foreach>
    </select>

    <select id="getFinishedDealOfSaleAreas" resultType="hashmap">
    </select>

    <select id="getSale" resultType="com.bk.bm.domain.Sale">
        SELECT * FROM SALE WHERE sale_id=${sale_id}
    </select>

    <select id="getSaleAreas" resultType="hashmap">
        SELECT * FROM SALE_AREA WHERE sale_id=#{sale_id}
    </select>

    <select id="getSaleImages" resultType="hashmap">
        SELECT * FROM SALE_IMAGE WHERE sale_id=#{sale_id}
    </select>

    <update id="updateSale">
        UPDATE SALE
        SET isbn10=#{sale.isbn10}, isbn13=#{sale.isbn13}, title=#{sale.title},
        price=#{sale.price}, comment=#{sale.comment}
        WHERE sale_id=#{sale.sale_id}
    </update>

    <delete id="deleteSale">
        DELETE FROM SALE WHERE sale_id
    </delete>

    <delete id="deleteSaleAreas">
        DELETE FROM SALE_AREA WHERE sale_id=#{sale_id}
    </delete>

    <delete id="deleteSaleImages">
        DELETE FROM SALE_IMAGE WHERE sale_id=#{sale_id}
    </delete>

    <!-- 완료된 거래를 모두 삭제 -->
    <delete id="deleteFinishedDealOfSale">
        DELETE FROM SALE WHERE sale_id IN
        <foreach collection="matchings" item="matching" open="(" separator="," close=")">
            #{matching.sale_id, jdbcType=INTEGER}
        </foreach>
    </delete>

    <delete id="deleteFinishedDealOfSaleAreas">
        DELETE FROM SALE_AREA WHERE sale_id IN
        <foreach collection="matchings" item="matching" open="(" separator="," close=")">
            #{matching.sale_id, jdbcType=INTEGER}
        </foreach>
    </delete>

    <delete id="deleteFinishedDealOfSaleImages">
        DELETE FROM SALE_IMAGE WHERE sale_id IN
        <foreach collection="matchings" item="matching" open="(" separator="," close=")">
            #{matching.sale_id, jdbcType=INTEGER}
        </foreach>
    </delete>

</mapper>